.effect1{
     color: red;
     font-size:80px;
     font-family:'Times New Roman', Times, serif;
     text-align: center;
     text-decoration: underline;
     font-style: italic;
     font-weight: bold;
       
}